<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Daily inspiration</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div>
    <h2><%= @quote %></h2>
  </div>
  <div class="xkcd"><p>by XKCD</p></div>
</body>
</html>
