
body {
  font-family: helvetica, sans-serif;
  padding: none;
  margin: none;
  height: 100%;
}

h2 {
  text-align: center;
  font-size: 3em;
}

div {
  width: 70%;
  margin: 10em auto;
}

p {
  font-size: 0.8em;
  text-align: center;
}

.xkcd {
  margin: 1em auto;
  position: fixed;
  bottom: 0px;
}
